<a href="https://colab.research.google.com/github/trangoi1610/skytrax_british_airway_analysis/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# abccsjdcdcn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
data = pd.read_csv('/housing.csv')

In [16]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [18]:
data.dropna(inplace=True)

In [19]:
from sklearn.model_selection import train_test_split
x = data.drop(['median_house_value'], axis=1)
y = data['median_house_value']

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [21]:
train_data = x_train.join(y_train)

In [22]:
train_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
17581,-121.92,37.31,34.0,876.0,150.0,424.0,163.0,5.2769,<1H OCEAN,241100.0
2563,-124.16,40.80,52.0,1703.0,500.0,952.0,435.0,1.1386,NEAR OCEAN,74100.0
7494,-118.24,33.92,44.0,1079.0,210.0,601.0,182.0,2.2411,<1H OCEAN,106400.0
16009,-122.45,37.74,38.0,5688.0,930.0,2263.0,908.0,6.2030,NEAR BAY,346800.0
10191,-117.94,33.86,36.0,2824.0,493.0,1394.0,507.0,4.6477,<1H OCEAN,194700.0
...,...,...,...,...,...,...,...,...,...,...
17807,-121.88,37.39,13.0,3334.0,565.0,2240.0,561.0,7.1050,<1H OCEAN,273900.0
20567,-121.79,38.66,15.0,6809.0,1052.0,3060.0,1060.0,5.3064,INLAND,165000.0
8467,-118.34,33.91,12.0,9975.0,3638.0,7429.0,3405.0,2.6689,<1H OCEAN,192300.0
18232,-122.11,37.41,27.0,5110.0,1599.0,2764.0,1482.0,3.4198,NEAR BAY,351900.0
5166,-118.28,33.94,43.0,1201.0,292.0,840.0,252.0,2.7917,<1H OCEAN,105600.0

histogram

In [24]:
train_data.hist(15,8)

KeyError: 8

heat map

In [ ]:
plt.figure(figsize=(15,8))
sns.heatnap(train_data.corr(), annot=True, cmap="YlGnBu")

In [ ]:
train_data['total_rooms'] = np.log(train_data['total_room'] + 1)
train_data['total_bedrooms'] = np.log(train_data['total_bedroom'] + 1)
train_data['population'] = np.log(train_data['population'] + 1)
train_data['households'] = np.log(train_data['households'] + 1)

this make the hitogram not to skew (use log)

In [ ]:
train_data.hist(15,8)

move the ocean_proximity from words to number

In [ ]:
train_data = train_data.join(pd.get_dummies(train_data.ocean_proximity)).drop(['ocean_proximity'], axis=1)

In [ ]:
plt.figure(figsize=(15,8))
sns.heatnap(train_data.corr(), annot=True, cmap="YlGnBu")

visualize by the locatioin the map

In [ ]:
plt.figure(figsize=(15,8))
sns.scatterplot(x="latitude", y="longtitude", data=train_data, hue="median_house_value", palette="coolwarm")

In [ ]:
train_data['bedroom_ratio'] = train_data['total_bedrooms'] / train_data['total_rooms']
train_data['household_rooms'] = train_data['total_rooms'] / train_data[households]

In [ ]:
from sklearn.linear_model import LinearRegression
x = train_data.drop(['median_house_value'], axis=1)
y = train_data['median_house_value']
reg = LinearRegression()
reg.fix(x_train, y_train)

In [ ]:
test_data = x_test.join(y_test)

test_data['total_rooms'] = np.log(test_data['total_room'] + 1)
test_data['total_bedrooms'] = np.log(test_data['total_bedroom'] + 1)
test_data['population'] = np.log(test_data['population'] + 1)
test_data['households'] = np.log(test_data['households'] + 1)

test_data = test_data.join(pd.get_dummies(test_data.ocean_proximity)).drop(['ocean_proximity'], axis=1)

test_data['bedroom_ratio'] = test_data['total_bedrooms'] / test_data['total_rooms']
test_data['household_rooms'] = test_data['total_rooms'] / test_data['households']

In [ ]:
reg.cr